#MainWindow {
  border-radius: 10px;
}

#MainBox {
}

#MainButtonBox {
  padding: 10px;
  margin: 5px 0px 5px 0px;
  border-radius: 5px;
  border:solid 2px #327CD5;
}

#DoNotDisturbButton {
}

#ExitButton {
}

#ClearNotificationsButton {
}

#NotificationsWindow {
}

.Notification {
  padding: 10px;
  margin: 5px 0px 5px 0px;
  border:solid 2px #327CD5;
  border-radius: 5px;
}

.CloseNotificationButton {
  margin: 0px 5px 0px 10px;
}
.PictureButtonBox {
}
.BaseBox {
}
